03 Managing AWS EC2 Servers with Boto3/creds/
*.pem

# Ignore generated model output and training logs
05 Sentiment Classification Using TinyBERT Transformer/tinybert_sentiment_analysis/
05 Sentiment Classification Using TinyBERT Transformer/train_dir/
05 Sentiment Classification Using TinyBERT Transformer/out/
06 Disaster Tweets Classification Using TinyBERT/tinybert-disaster-tweet/
06 Disaster Tweets Classification Using TinyBERT/out/
07 Human Pose Image Classification Using VIT/vit-human-pose-classification/